.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.turn{
	/* font-size: 2em; */
	width: 150px;	
	font-size: 2rem;
	font-weight: bold;
	color: black;
}

table td {
	border: 1px solid grey;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 8px #888;
	background-color:white;
	color: black;
	font-size: 4rem;
	padding:10px;
	margin: 10px;
}

.winner{
	font-size: 2rem;
	color: blue;
	font-weight: bold;
}
.btnn{
	width:200px;
	height:40px;
	background-color:rgb(14, 101, 255);
	color:white;
	font-size: 20px;
	box-shadow: 0 0 8px #888;
	border: none;
	border-radius: 10px;
}